alembic==1.13.1
async-timeout==4.0.3
asyncpg==0.29.0
colorama==0.4.6
exceptiongroup==1.2.1
greenlet==3.0.3
iniconfig==2.0.0
Mako==1.3.5
MarkupSafe==2.1.5
packaging==24.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pyrogram==2.0.63
sqlalchemy==2.0.15
tgcrypto==1.2.4
python-dotenv==1.0.0
